<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Soldier-Attack010.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{15,18}</string>
				<key>spriteSize</key>
				<string>{15,18}</string>
				<key>textureRect</key>
				<string>{{0,0},{15,18}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5333333333333333,0}</string>
			</dict>
			<key>Soldier-Attack011.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{19,24}</string>
				<key>spriteSize</key>
				<string>{19,24}</string>
				<key>textureRect</key>
				<string>{{16,0},{19,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5263157894736842,0}</string>
			</dict>
			<key>Soldier-Attack012.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{20,23}</string>
				<key>spriteSize</key>
				<string>{20,23}</string>
				<key>textureRect</key>
				<string>{{36,0},{20,23}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>Soldier-Attack013.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{34,20}</string>
				<key>spriteSize</key>
				<string>{34,20}</string>
				<key>textureRect</key>
				<string>{{57,0},{34,20}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5294117647058824,0}</string>
			</dict>
			<key>Soldier-Attack014.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{34,20}</string>
				<key>spriteSize</key>
				<string>{34,20}</string>
				<key>textureRect</key>
				<string>{{92,0},{34,20}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5294117647058824,0}</string>
			</dict>
			<key>Soldier-Attack015.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{22,18}</string>
				<key>spriteSize</key>
				<string>{22,18}</string>
				<key>textureRect</key>
				<string>{{127,0},{22,18}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5454545454545454,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>Soldier-Attack01.png</string>
			<key>textureFileName</key>
			<string>Soldier-Attack01.png</string>
			<key>size</key>
			<string>{150,24}</string>
		</dict>
	</dict>
</plist>