<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sprite-sheet0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{24,47}</string>
				<key>spriteSize</key>
				<string>{24,47}</string>
				<key>textureRect</key>
				<string>{{0,0},{24,47}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>sprite-sheet1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{84,82}</string>
				<key>spriteSize</key>
				<string>{84,82}</string>
				<key>textureRect</key>
				<string>{{25,0},{84,82}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>sprite-sheet2.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{75,64}</string>
				<key>spriteSize</key>
				<string>{75,64}</string>
				<key>textureRect</key>
				<string>{{110,0},{75,64}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5066666666666667,0}</string>
			</dict>
			<key>sprite-sheet3.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{54,36}</string>
				<key>spriteSize</key>
				<string>{54,36}</string>
				<key>textureRect</key>
				<string>{{186,0},{54,36}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5185185185185185,0}</string>
			</dict>
			<key>sprite-sheet4.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{10,7}</string>
				<key>spriteSize</key>
				<string>{10,7}</string>
				<key>textureRect</key>
				<string>{{241,0},{10,7}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.6,0}</string>
			</dict>
			<key>sprite-sheet5.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{24,47}</string>
				<key>spriteSize</key>
				<string>{24,47}</string>
				<key>textureRect</key>
				<string>{{252,0},{24,47}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>sprite-sheet6.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{6,10}</string>
				<key>spriteSize</key>
				<string>{6,10}</string>
				<key>textureRect</key>
				<string>{{277,0},{6,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.6666666666666666,0}</string>
			</dict>
			<key>sprite-sheet7.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{83,82}</string>
				<key>spriteSize</key>
				<string>{83,82}</string>
				<key>textureRect</key>
				<string>{{284,0},{83,82}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5060240963855421,0}</string>
			</dict>
			<key>sprite-sheet8.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{75,64}</string>
				<key>spriteSize</key>
				<string>{75,64}</string>
				<key>textureRect</key>
				<string>{{368,0},{75,64}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5066666666666667,0}</string>
			</dict>
			<key>sprite-sheet9.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{54,36}</string>
				<key>spriteSize</key>
				<string>{54,36}</string>
				<key>textureRect</key>
				<string>{{444,0},{54,36}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5185185185185185,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>sprite-sheet.png</string>
			<key>textureFileName</key>
			<string>sprite-sheet.png</string>
			<key>size</key>
			<string>{498,82}</string>
		</dict>
	</dict>
</plist>